{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_track_url = "{{=URL('api', 'add_track', user_signature=True)}}";
  var edit_track_url = "{{=URL('api', 'edit_track', user_signature=True)}}";
  var get_track_list_url = "{{=URL('api', 'get_track_list')}}";
  var upload_track_url = "{{=URL('api', 'upload_track')}}";
  var get_track_content_url = "{{=URL('api', 'get_track_content')}}";
  var get_user_email_for_frontend_url = "{{=URL('api', 'get_user_email_for_frontend', user_signature=True)}}";
  var delete_track_url = "{{=URL('api', 'delete_track')}}";
  var is_logged_in = {{='false' if auth.user is None else 'true'}};
  var user_email = "{{='false' if auth.user is None else auth.user.email}}";
  var user_name = "{{='false' if auth.user is None else auth.user.first_name}}";
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="{{=URL('static', 'js/leaflet.filelayer.js')}}"></script>
  <script src="{{=URL('static', 'js/togeojson.js')}}"> </script>
{{end}}

<div id="vue-div" class="container">
<div class="main_content">
  <!-- map -->
  <div id="mapid">
    <!-- map moved to Vue -->
    <div id="menu_button" v-on:click="click_menu_btn()">
      <button class="btn fa fa-ellipsis-v fa-2x" id="menu_button2">&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
  <transition name="fade">
  <div v-if="!map_fullscreen" id="menuid">
    <div class="big_text" id="user_info_holder">
      <div>
        {{if auth.user:}}
          <div>
            <span>Hello, ${user_name}!</span>
            <a class="settings" href="{{=URL('user/profile')}}"><i class="fa fa-cog" id="setting_cog"></i></a>
          </div>
          <a href="{{=URL('user/logout')}}">Logout</a>
        {{else:}}
          <a href="{{=URL('user/register')}}">Register</a>
          <a href="{{=URL('user/login')}}">Login</a>              
        {{pass}}
      </div>      
    </div>

    <!-- FIXME: This should only show up when logged in-->
    <!--<div v-if="is_logged_in" id="track_menu_section">-->
    <div id="track_menu_section">
      <div id="horiz_bar"></div>
      <div style="min-height:55px">
        <span class="big_text" style="margin-left:30px; min-height:60px;">Your tracks</span>
        <button class="btn fa fa-plus buttons" style="float:right; margin-right:30px;"
		v-on:click="click_add_track_btn()" v-if="!adding_track">&nbsp;&nbsp;Add track</button>
        <button class="btn fa fa-remove buttons" style="float:right; margin-right:30px;"
		v-on:click="click_add_track_btn()" v-if="adding_track">&nbsp;&nbsp;Cancel track add</button>
      </div>
      <div v-if="adding_track" style="padding-left:10%; width:80%; margin-bottom:30px">
        <input v-model="track_add_title" placeholder="Enter a track title"/>
	<button class="btn buttons" v-on:click="add_track()">Submit</button>
	<button class="btn buttons" v-on:click="click_add_track_btn()">Cancel</button>
      </div>

      <div id="my_track_list">
	<div v-for="track in track_list">
	  <div class="my_track">
            <div style="padding-left:30px; width=100%">
	      <div class="display:inline-block;">
	        <i class="fa fa-star-o" style="display:inline-block; float:left; margin-right:10px;"
			                v-on:mouseover="star_mouseover(track)"
					v-on:mouseout=""
					v-on:click=""></i>
	      </div>
	      <div class="track_title" style="display:inline-block">${track.track_title}</div>
	      <div style="display:inline-block; float:right; padding-right:20px;">
	        <button v-if="!track.need_to_upload" v-on:click="click_load_track_btn(track)" class="btn small fa fa-folder-open buttons">&nbsp;&nbsp;Load</button>
	        <button v-if="track.need_to_upload" class="btn small fa fa-folder-open buttons" v-on:click="click_upload_btn(track)">&nbsp;&nbsp;Upload</button>
	        <button class="btn small fa fa-remove buttons" v-on:click="delete_track(track.id)">&nbsp;&nbsp;Delete</button>
	      </div>
	      <div>
                <input v-if="track.show_file_field" id="file_input" type="file" v-on:change="upload_track($event, track)" accept="file_extension">
	      </div>
	    </div>
  	  </div>
        </div>
      </div>

      <div id="horiz_bar"></div>

      <div class="big_text" style="margin-left:30px; margin-bottom:20px">Your favorited tracks</div>
      <!-- FIXME: Use a v-for here to iterate through my tracks.-->
      <div id="favorited_track_list">
	    <div id="favorited_track" style="min-height:60px">
          <div style="padding-left:10px; width=100%;">
  	      <i class="fa fa-star-o"></i>	
              Track1
	      <span style="float:right; padding-right:104px">
	        <button class="btn fa fa-folder-open buttons">&nbsp;&nbsp;Load</button>
	      </span>
	  </div>
	  <div style="padding-left:30px; font-size:.8em;">
            Track author
	  </div>
	</div>
      </div>
    </div>
  </div>
  </transition>
</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
