{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="{{=URL('static', 'js/leaflet.filelayer.js')}}"></script>
  <script src="{{=URL('static', 'js/togeojson.js')}}"> </script>
{{end}}

<div id="vue-div" class="container">
<div class="main_content">
  <!-- map -->
  <div id="mapid">
    <!-- map moved to Vue -->
    <div id="menu_button">
      <button class="btn fa fa-ellipsis-v fa-2x" id="menu_button2"></button>
    </div>
  </div>
  <div id="menuid">
    <div class="big_text" id="user_info_holder">
      <!-- FIXME: This should only show up when not signed in. Also need to change a href URLs-->
      <!--
      <span v-if="!is_logged_in"><a href="login.html">Login</a></span>
      or
      <span v-if="!is_logged_in"><a href="login.html">Login</a></span>
      -->
      <span><a href="login.html">Login</a></span>
      or
      <span><a href="sign_up.html">Sign Up</a></span>
      <!--<span v-if="is_logged_in">Hello <INSERT USER NAME></span>-->
    </div>

    <!-- FIXME: This should only show up when logged in-->
    <!--<div v-if="is_logged_in" id="track_menu_section">-->
    <div id="track_menu_section">
      <div id="horiz_bar"></div>
      <div style="min-height:55px">
        <span class="big_text" style="margin-left:30px; min-height:60px;">Your tracks</span>

        <button class="btn fa fa-plus buttons" style="float:right">&nbsp;&nbsp;Add Track</button>
      </div>
      <!-- FIXME: Use a v-for here to iterate through my tracks.-->
      <div id="my_track_list">
	<div id="my_track" style="min-height:32px; margin-bottom:15px;">
          <div style="padding-left:30px; width=100%">Track1
	    <span style="float:right;">
	      <button class="btn fa fa-folder-open buttons">&nbsp;&nbsp;Load</button>
	      <button class="btn fa fa-remove buttons">&nbsp;&nbsp;Delete</button>
	    </span>
	  </div>
	</div>
      </div>

      <div id="horiz_bar"></div>

      <div class="big_text" style="margin-left:30px; margin-bottom:20px">Your favorited tracks</div>
      <!-- FIXME: Use a v-for here to iterate through my tracks.-->
      <div id="favorited_track_list">
	<div id="favorited_track" style="min-height:60px">
          <div style="padding-left:10px; width=100%;">
  	      <i class="fa fa-star-o"></i>	
              Track1
	      <span style="float:right; padding-right:104px">
	        <button class="btn fa fa-folder-open buttons">&nbsp;&nbsp;Load</button>
	      </span>
	  </div>
	  <div style="padding-left:30px; font-size:.8em;">
            Track author
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
