.container {
    height: 100%;
    width: 100%;
    position: relative;
}

#mapid {
    height: 100%;
    width: 100%;
    /* display: inline-block;
    float:left; */
    z-index:0;
    position: absolute;
    top: 0;
    left: 0;
}

#menuid {
    height: 100%;
    width: 100%;
    /* display: inline-block; */
    background-color:#fff2d6;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#menu_button {
    z-index: 5;
    position: fixed;
    right: 28%;
    /*-webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);*/

    transition-timing-function: ease;
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu_button2 {
    background-color:#fff2d6;
    color:black;
    border-radius:10px;
    /* position:relative;
    left:30px; */
}

#setting_cog:hover {
    cursor: pointer;
}

#horiz_bar {
    background-color: black;
    height:3px;
    width:90%;
    margin-top:5px;
    margin-bottom:5px;
    position:relative;
    margin-left:5%;
}

#user_info_holder {
    padding:10px;
    padding-left:30px;
}

.settings {
    position:right; 
}

#my_track_list {
    color: black;
}

/*.my_track_2 {
    min-height:32px;
    margin-bottom:15;
}*/

.fade-enter-active, .fade-leave-active {
    transition:all .3s ease;
    transform: translateX(10px);
    opacity:1;
}
.fade-enter, .fade-leave-active {
    transition:all .5s ease;
    transform: translateX(30%);
    opacity:0;
}

.collapse1-enter-active, .collapse1-leave-active {
    transition:all .3s ease;
    max-height: 100%
}
.collapse1-enter, .collapse1-leave-active {
    transition:all .5s ease;
    transform: translateX(30%);
    opacity:0; 
}

.collapse2-enter-active, .collapse2-leave-active {
    transition:all .3s ease;
    max-height: 100%
}
.collapse2-enter, .collapse2-leave-active {
    transition:all .5s ease;
    transform: translateX(30%);
    opacity:0; 
}

.my_track {
    padding-top:5px;
    border-radius:15px;
    min-height:40px;/*CHANGE BACK TO 42 LATER */
    margin-bottom:10px;
}

.my_track:hover {
    background-color:#ffdd9e;
}

.track_title {
    position:relative;
    max-width:200px;
}

#favorited_track_list {
    padding-top:5px;
    margin-top:5px;
    color: black;
}

/*#favorited_track_list:hover {
    background-color:#ffdd9e;    
}*/

.buttons {
    border-radius:10px;
}

.big_text {
    font-size:1.3em;
    font-weight:bold;
    font-family:"Verdana";
    color: black;
}
